
img{
    width: 16rem;
    height: 16rem;
}

#homeText{
    font-size: 3rem;
    font-style: italic;
}

#homeText::first-letter{
    font-size: 4rem;
}

#imgWrapper{
    max-width: max-content;
    margin-left: 4rem;
    margin-right: 4rem;
}

#wrapper{
    background-image: url("https://fondosmil.co/fondo/31172.jpg");
    background-position: center;
    background-size: cover;
}

#content-wrapper{
    background-color: rgba(237, 237, 237, .4);
    backdrop-filter: blur(15px);
}

#Carousel{
    font-size:xx-large;
    margin: 0rem 7rem !important;
}

#buttonMediaScreen{
    display: none;
}

@media (max-width: 700px) {


    #imgWrapper{
        margin-top: 6rem;
        height: auto !important;
    }

    img{
        width: 12rem;
        height: 12rem;
        margin: 0;
    }

    #content-wrapper{
        height: 100%;
        
    }

    #wrapperB{
        flex-direction: row;
        padding-top: 1rem;
        width: auto !important;
    }

    #homeText::first-letter{
        font-size: 3rem;
    }
    #wrapperB>h3{
        margin-top: 3rem;
        padding: 0 !important;
        margin-bottom: 0rem;
        font-size: 2rem;
        text-align: center;
        height: auto !important;
    }

    #CarouselWrapper{
        display: none !important;
    }

    #buttonMediaScreen{
        margin: 0;
        display: contents;
    }
    #buttonMediaScreen>Button{
        padding: 1rem 0.9rem !important;
        margin-bottom: 5rem !important;
    }

}