/* 
.dropdown-toggle:after{
    display: none !important;
} */

#dropdown-button{
    background-image: url("../assets/account-cog.svg");
    background-color: transparent;
    background-position: center;
    color: transparent;
    scale: 0.8;
    width: min-content;
    height: min-content;
    border: none;
    filter: invert(54%) sepia(48%) saturate(452%) hue-rotate(148deg) brightness(109%) contrast(91%);
}

li{
    font-size: medium;
}