
.cardClass{
    width: 50%;
    margin: 1rem;
    text-wrap: wrap;
}

#cardPriceContainer{
    flex-direction: row;
}

@media (max-width: 700px) {
    .cardClass{
        width: 90%;
    }

    #cardPriceContainer{
        display: block !important;
    }
    
    #allPriceCardWrapper{
        height: auto !important;
        padding-bottom: 3rem !important;
    }
}
